[user]
	email = saivishnu725@gmail.com
	name = Sai Vishnu
[core]
	editor = vim
[credential]
	helper = store
[init]
	defaultBranch = master
[color]
	ui = auto
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
